/target/
!.mvn/wrapper/maven-wrapper.jar
/资料

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

/.mvn/
*.mvnw
*.mvnw.cmd


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.class
*.pdf

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

/doc/
code/*/*/mvnw
code/*/*/mvnw.cmd
